.App {
  text-align: center;
  position: relative;
  height: 100vh;
  transition: all 0.2s ease-in-out;
  height: calc(100vh - 50px);
}

#portal {
  position: relative;
  /* position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.rangeslider-horizontal .rangeslider__handle {
  width: 10px;
  height: 30px;
  border-radius: 0px;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}

.rangeslider-horizontal .rangeslider__handle:after {
  content: ' ';
  position: absolute;
  width: 0px;
  height: 0px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #dadada;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}

.slider {
  background: rgba(0,0,0,0.5);
  padding: 50px;
  border-radius: 5px;
  margin-top: 10px;
}

.temp-p {
  font-size: 72px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.background00 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.background01 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.background02 {
  background: rgba(125, 125, 174, 0.4);
  color: #ffffff;
}

.background03 {
  background: rgba(125, 125, 174, 0.4);
  color: #ffffff;
}

.background04 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background05 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background06 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background07 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background08 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background09 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background10 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background11 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background12 {
  background: rgba(135, 206, 250, 0.4);
  color: #ffffff;
}

.background13 {
  background: rgba(135, 206, 250, 0.4);
  color: #ffffff;
}

.background14 {
  background: rgba(135, 206, 250, 0.4);
  color: #ffffff;
}

.background15 {
  background: rgba(135, 206, 250, 0.4);
  color: #ffffff;
}

.background16 {
  background: rgba(135, 206, 235, 0.4);
  color: #ffffff;
}

.background17 {
  background: rgba(125, 125, 174, 0.4);
  color: #ffffff;
}

.background18 {
  background: rgba(125, 125, 174, 0.4);
  color: #ffffff;
}

.background19 {
  background: rgba(70, 70, 140, 0.4);
  color: #ffffff;
}

.background20 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.background21 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.background22 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.background23 {
  background: rgba(25, 25, 112, 0.4);
  color: #ffffff;
}

.bg-img {
  background-size: cover;
}

.weather-img-cont {
  height: 300px;
}

.weather-img {
  object-fit: contain;
  width: 100%;
  height: 300px;
}
.btn-test {
  background: blue;
}
.data-cont {
  width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
  }
.gradient-bg {
  height: 100vh;
  padding-top: 100px;
  background: -moz-linear-gradient( bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient( bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( to top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
.custom-modal-cont {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
.custom-modal {
  padding: 20px;
  background-color:rgba(255,255,255,0.5);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  position: relative;
}

.portal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.temp-loading {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-cont {
  width: 90vw;
  height: 90vh;
  padding: 40px;
  background: rgba(255,255,255, 0.8);
  margin: 0 auto;
}
.tab-cont{
  display: flex;
    width: 100%;
    justify-content: center;
    background: rgba(0,0,0, 0.8);
    height: 50px;
}
.tab-button {
  background: #ffffff;
    cursor: pointer;
    padding: 10px;
    min-width: 200px;
    border-top: none;
    border-bottom: none;
}

.active {
  background: #333;
  color:#fff;
}
.geosuggest-cont {
  width: 600px;
}
.geosuggest__input {
  width: 500px;
  border-radius: 5px;
  padding: 2px 5px;
  height: 40px;
  border: 1px solid #ccc;
}
.geosuggest__input-wrapper {
  display: flex;
  justify-content: center;  
  margin-top: 20px;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__suggests-wrapper {
  background: #ffffff;
}

.app-cont {
  height: calc(100vh - 50px);
  padding: 10px;
  
}
















.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
  .app-cont {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    flex-flow: row;
  }
  .gradient-bg {
    padding-top: 10px;
  }
  .data-cont {
    margin-top: 30%;
    width: 100%;
  }
  .weather-img-cont {
    height: 180px;
  }
  .rangeslider-vertical {
    height: 80vh;
    margin-top: auto;
  }
  .slider {
    background: rgba(0,0,0,0);
    padding: 30px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .tab-button {
    min-width: 50px;
  }
  .geosuggest-cont {
    width: 200px;
  }
}